.prin{ background-color: rgba(19, 19, 19, 0.637);
color: whitesmoke;
margin: 5px;
margin-top: 2px;
margin-bottom: 0px;
padding: 30px;}

body{background-color: rgb(0, 0, 0);}
p{text-align: justify; }
li{text-align: justify;}
.basic{text-align: justify;
text-decoration: wavy;}

.title{font-family: Garamond;
font-size: 25px;
text-align: center;}
a{text-decoration: none;
color:white}
.indice{
    text-align: center;
    margin: 50px;
    font-family:  Garamond;
    background-color: rgba(46, 45, 45, 0.507);
    padding: 40px;
    margin: 30px;
    border-radius: 20px 30px;
    width: 300px;
    margin: auto;
}

.center{ text-align: center;
font-family: Garamond ;}

.conteiner-button{ 
    display: flex;
margin-inline: center;
margin-top: 60px;
text-decoration: none;}

.conteiner-button{
text-decoration: none;
font-family: 'Times New Roman', Times, serif;
background-color: rgb(129, 122, 122);
color: black;
margin-right: auto;
margin-left: auto;
}
 
.conteiner-img{
    display: block;
    margin: auto;
}

.listado{
    text-align: center;
    font-size: 20px;
     font-family: 'Times New Roman', Times, serif;
}